<% provide(:title, 'About') %>

<div class = "row text-center">
	<div class = "col-md-12">
		<h2 style = "margin: 0;"><b>About</b></h2>
	</div>
	<hr />
		<div class = "row text-center">
			<div class = "col-md-6">
				<%= image_tag "giraffe.jpg", alt: "about-us-page", width: "100%" %>
			</div>
			<div class = "col-md-6">
				<p>A man who dresses up as a giraffe and carries out random acts of kindness towards people across Scotland has said he does it to feel good. Twice a week Armstrong Baillie, 32, dons a furry suit his mother made him, before travelling to different places to do good deeds. He calls himself The Good Giraffe and lives in Dundee with his girlfriend and her daughter.</p>
																																																																	
				<p>Originally from Glasgow, he has often been spotted in Edinburgh. He has also been to Stonehaven, Aberdeen, Forfar, Dundee, the Black Isle and Glasgow to carry out his acts of kindness. He told the BBC Scotland news website he got the idea after seeing a man dressed up as a gorilla playing the drums in the capital. During the past six months Armstrong has handed out free bananas and water to runners at the Edinburgh Half Marathon, cleaned up litter on Portobello Beach and given away £10 vouchers to mothers in hospitals. He has also been seen handing out free coffee to cold passers-by and cleaning cages at cat and dog homes.</p>

				<p>Unemployed, Mr Baillie, said he busks using his kazoo and djembe drum then uses the donations to pay for the kind deeds. He hitch-hikes to reach his destinations - but is only being able to be picked up by convertibles due to his long-necked suit. He said: "It makes me happy when I see the difference in people when they see me in the suit. It makes them happy and it makes me feel cheery.</p>

				<p>"The reason I picked a giraffe is that I have always been interested in animals and giraffes are my favourite animal. [...] Giraffes are like me, as my head is in the clouds but my heart is in the right place." He added: "Most of the time I get a good welcome in the suit but I remember once a Kevin Bridges lookalike tried to pull the head off in a pub, it might even have been the real Kevin Bridges as I didn't have my glasses on."</p>

				<p>Armstrong said he planned to carry on doing good deeds.</p>

			</div>
		</div>
