<% provide(:title, 'FAQs') %>

<div class = "row text-center">
	<div class = "col-md-12">
		<h2 style = "margin: 0;"><b>FAQs</b></h2>
	</div>

	<hr />
	<div class = "panel-group" id = "accordion">
		<div class = "panel panel-default">
			<div class = "panel-heading">
				<h4 class = "panel-title">
					<a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseOne">
						1. Can I play using skrill?
					</a>
				</h4>
			</div>

			<div id = "collapseOne" class = "panel-collapse collapse">
				<div class = "panel-body">
					No but we do accept Bitcoin.
				</div>
			</div>
		</div>

								<div class = "panel panel-default">
			<div class = "panel-heading">
				<h4 class = "panel-title">
					<a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseTwo">
						2. Can I cancel my order?
					</a>
				</h4>
			</div>

			<div id = "collapseTwo" class = "panel-collapse collapse">
				<div class = "panel-body">
					Yes, you can cancel you order at anytime.
				</div>
			</div>
		</div>

				<div class = "panel panel-default">
			<div class = "panel-heading">
				<h4 class = "panel-title">
					<a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseThree">
						3. What is your refund policy?
					</a>
				</h4>
			</div>

			<div id = "collapseThree" class = "panel-collapse collapse">
				<div class = "panel-body">
					You can receive a 100% refund at anytime.
				</div>
			</div>
		</div>

		<div class = "panel panel-default">
			<div class = "panel-heading">
				<h4 class = "panel-title">
					<a data-toggle = "collapse" data-parent = "#accordion" href = "#collapseFour">
						4. How will I get invoiced for cheques?
					</a>
				</h4>
			</div>

			<div id = "collapseFour" class = "panel-collapse collapse">
				<div class = "panel-body">
					You can receive an invoice either via email or post.
				</div>
			</div>
		</div>

	
	
	</div>
</div>

