<% provide(:title, 'New Frequently Asked Question') %>
<div class = "row">
	<div class = "col-md-9 columns">
		<h2 style = "margin: 0;"><b>New Frequently Asked Question</b></h2>

		<br />

		<%= render 'form' %>

		<%= link_to 'Back', faqs_path %>

	</div>
</div>
