<% provide(:title, 'My Cart') %>

<div class = "row text-center">
	<div class = "col-md-12">
		<h2 style = "margin: 0;"><b>My Cart</b></h2>
	</div>

	<hr />

	<p>You've selected <span class ="cart-count"><%=current_user.cart_count%></span> services.</p>

	<% @cart_services.each do |service| %>
		<%= link_to service.name cart %>
	<%end%>

</div>


