<p>Please enter your personal info:</p>
<div class "">
	<%= text_field_tag :first_name, "", placeholder: "First Name", class: "" %>
</div>

<div class "">
	<%= text_field_tag :last_name, "", placeholder: "Last Name", class: "" %>
</div>

<div class "">
	<%= text_field_tag :company, "", placeholder: "Company", class: "" %>
</div>

<div class "">
	<%= text_field_tag :phone, "", placeholder: "Phone", class: "" %>
</div>



